.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 1px solid silver;
    border-radius: 0.5rem;
}
.btn-to-top {
    width: 100%;
    max-width: 30px;
    cursor: pointer;
}
