.container-home {
    display: flex;
    justify-content: space-between;
}
.container-home article {
    padding: 1.5rem;
    width: 50%;
}
.home-left h1 {
    font-size: 20px;
    margin-bottom: 0.2rem;
}
.home-right {
    background-image: url(../assets/img/fundo-white.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: end;
    display: flex;
    flex-direction: column;
}
.home-right h1 {
    font-size: 40px;
}
.home-right h2 {
    font-weight: 400;
}
.home-right h3 {
    margin: 2.5rem 0;
    max-width: 400px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
}
.home-right a {
    background-color: yellow;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    max-width: max-content;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
}
.servicos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.servicos-list li {
    margin: 0 2rem;
}


.redes-sociais ul {
    display: flex;
    margin: 2rem auto 0;
}
.redes-sociais ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 1rem;
}
.redes-sociais ul li a {
    background-color: transparent;
    font-weight: 400;
}
.redes-sociais ul li img {
    width: 100%;
    max-width: 30px;
}

@media (max-width:768px) {
    .container-home {
        flex-direction: column-reverse;
    }
    .container-home article {
        width: 100%;
    }
}